*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  font-family: Roboto, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

body {
  margin: 5%;
  padding-top: 3em !important;
}

.location-container {
  height: fit-content;
  width: 90%;
  margin: auto;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-form {
  background-color: #202124;
  height: fit-content;
  max-width: 30em;
  max-height: 100%;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}

#location {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#results {
  padding: 0;
  margin: 0;
  width: 100%;
}

.location-title {
  color: #ffffff;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.location-field {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.location-field-results {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.location-field-results-sm {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 25%;
}

.location-2-field-results {
    display: flex;
    flex-direction: row;
}

.location-label-results {
    color: #ffffff;
    margin-bottom: 10px;
    text-align: start;
    width: 100%;
}

.location-input-results {
    width: 100%;
    border-radius: 5px;
    height: 30px;
    border: none;
    padding: 5px;
}

#submitButton {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgb(28, 226, 160);
  color: #ffffff;
}

#submitButton:hover {
  cursor: pointer;
}
